@import "bootstrap/scss/reboot";

html {
	height: 100%;
}

body {
	font-synthesis: none;
	overflow-y: auto;
	text-rendering: optimizeLegibility;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background: #1b1b1b;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

.dark-mode {
	$link-color: #e9e9e9;

	body {
		--#{$variable-prefix}body-color: #aaaaaa;
		--#{$variable-prefix}body-bg: #1b1b1b;

		&::-webkit-scrollbar-thumb {
			background: #121212;
		}
	}

	a {
		color: $link-color;

		&:hover {
			color: shift-color($link-color, $link-shade-percentage)
		}
	}
}
