@import "bootstrap/scss/reboot";

html {
	height: 100%;
	overscroll-behavior-y: none;
}

body {
	font-synthesis: none;
	overflow-y: auto;
	text-rendering: optimizeLegibility;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgb(50, 50, 50);
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

.n-icon {
	line-height: 1;
	vertical-align: -.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
