@use "sass:math";

// Color system

$white:    #fff !default;
$gray-100: #e3e3e3 !default;
$gray-200: #c8c8c8 !default;
$gray-300: #a4a4a4 !default;
$gray-400: #818181 !default;
$gray-500: #666666 !default;
$gray-600: #515151 !default;
$gray-700: #434343 !default;
$gray-800: #383838 !default;
$gray-900: #171717 !default;
$black:    #000 !default;

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
) !default;

$blue:    #6564ff !default;
$indigo:  #6366F1 !default;
$violet:  #8B5CF6 !default;
$purple:  #A855F7 !default;
$pink:    #f3a4b5 !default;
$red:     #ff1818 !default;
$orange:  #F97316 !default;
$yellow:  #ffd600 !default;
$green:   #22C55E !default;
$teal:    #14B8A6 !default;
$cyan:    #06B6D4 !default;

$colors: (
	"blue":       $blue,
	"indigo":     $indigo,
	"violet":     $violet,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray-100,
	"gray-dark":  $gray-900
) !default;

$primary:       #1b1b1b !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Options

$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              true !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-cssgrid:              false !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

// Prefix for :root CSS variables

$prefix:                      bs- !default;

$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
) !default;

@for $i from 6 through 16 {
	$spacers: map-merge($spacers, (
		$i: (($i + 1rem) * 0.5)
	))
}

// Body

$body-text-align:           null !default;
$body-color:                $primary !default;
$body-bg:                   $white !default;

// Links

$link-color:                              $body-color !default;
$link-decoration:                         none !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

// Paragraphs

$paragraph-margin-bottom:   .675rem !default;

// Components

$border-width:                2px !default;

$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

$focus-ring-width:      0 !default;
$focus-ring-opacity:    .25 !default;
$focus-ring-color:      rgba($primary, $focus-ring-opacity) !default;
$focus-ring-blur:       0 !default;
$focus-ring-box-shadow: 0 2px $focus-ring-blur $focus-ring-width $focus-ring-color !default;

// Typography

$font-family-sans-serif:      'Archivo', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-normal:          400 !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 1.625 !default;
$h2-font-size:                $font-size-base * 1.25 !default;
$h3-font-size:                $font-size-base * 1.0625 !default;
$h4-font-size:                $font-size-base * .9375 !default;
$h5-font-size:                $font-size-base * .8125 !default;
$h6-font-size:                $font-size-base * .625 !default;

$small-font-size:             .875em !default;

$hr-margin-y:                 $spacer * 2 !default;
$hr-color:                    #555 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-family:       var(--#{$prefix}font-monospace) !default;
$input-btn-font-size:         $font-size-sm !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, `back`ground, and border color.

$btn-white-space:             nowrap !default; // Set to `nowrap` to prevent text wrapping

$btn-transition:              color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out, transform .3s ease-in-out !default;

// Forms

$form-label-font-size:                  $font-size-sm !default;
$form-label-font-weight:                500 !default;

$input-box-shadow:                      null !default;

$input-focus-box-shadow:                null !default;

$input-transition:                      border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;

$form-select-box-shadow:          null !default;

$form-select-focus-box-shadow:    null !default;

// Navs

$nav-link-padding-y:                .25rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-transition:               color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out !default;

// Navbar

$navbar-padding-y:                  $spacer * .875 !default;
$navbar-padding-x:                  null !default;

$navbar-brand-font-size:            $font-size-sm !default;

$navbar-toggler-transition:         box-shadow .3s ease-in-out !default;

// Dropdowns

$dropdown-min-width:                10rem !default;
$dropdown-padding-x:                .25rem !default;
$dropdown-padding-y:                .25rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-font-size:                $font-size-sm !default;

$dropdown-item-padding-y:           $spacer * .25 !default;
$dropdown-item-padding-x:           $spacer !default;

$dropdown-dark-bg:                  rgb(20, 20, 20) !default;

// Pagination

$pagination-padding-y:              .265rem !default;
$pagination-padding-x:              .65rem !default;

$pagination-transition:              color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out !default;

// Cards

$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     $spacer !default;
$card-title-spacer-y:               $spacer * .5 !default;
$card-border-width:                 1px !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba(38, 38, 38, 0.8) !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                $card-spacer-y * .5 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba(24, 24, 24, .1) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           rgba(38, 38, 38, 0.3) !default;
$card-img-overlay-padding:          $spacer !default;

/// Breadcrumb

$breadcrumb-bg:                     rgba(38, 38, 38, 0.3) !default;

// Close

$btn-close-width:            .675em !default;

$btn-close-focus-shadow:     null !default;

@import "bootstrap/scss/variables";
